body{
    background-image: url(./images/slate.jpg);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
nav{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: lime;
    font-size: larger;
}
nav a:hover{
    font-weight: bolder;
    color: #f2f2f2;
}
#footer-contacts{
    display: flex;
    justify-content: center;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
footer ul li{
    padding: 5px;
}
footer{
    max-width: 100%;
    background-color: black;
    margin-top: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-color: #9b9b9b;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}
.bio{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
header{
    text-align: center;
    background-color: #9b9b9b;
    border-radius: 6px;
}
img{
    border-radius: 10px;
    margin-left: 30%;
}

#container{
    clear: both;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #9b9b9b;
    border-radius: 6px;
    padding: 10px;
}
#container h2{
    text-decoration: underline;
}
#experience h2{
    text-align: center;
    /* text-decoration: underline; */
}
table td, table th{
    padding: 5px;
    border: #143427 solid 1px;
    margin: 0;
    background-color: #d99d54;
}
table{
    border: #143427 solid 1px;
    border-spacing: 0px;
    width: 33%;
    margin-left: 34%;
    margin-right: 33%;
}
#resume{
    text-align: center;
    font-weight: bold;
    font-size: larger;
    margin: 70px;
}
#resume a{
    text-decoration: none;
}
#resume a:link{
    color: lime;
}
.work-experience{
    padding-left: 40px;
    padding-right: 40px;
}
